<h1>Listing experiencelinks</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @experiencelinks.each do |experiencelink| %>
      <tr>
        <td><%= link_to 'Show', experiencelink %></td>
        <td><%= link_to 'Edit', edit_experiencelink_path(experiencelink) %></td>
        <td><%= link_to 'Destroy', experiencelink, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Experiencelink', new_experiencelink_path %>
