<%= render "home/navbar" %>
<div class="spec container vidchatindex">
	<h1>Existing Video Chatrooms</h1>
	<ul>
		<% for videochat in @videochats %>
		  <li>
		  	<h4><b><%= link_to videochat.title, videochat_path(videochat) %></b></h4>
		  	<h5>Started by <%=link_to videochat.user.get_full_name, user_path(videochat.user) %></h5>
		  </li>
		<% end %>
	</ul>
</div>
