<%= render "home/navbar" %>
<div class="spec container">
	<h1>New Video Chat</h1>
	<h5>Here you can create a new video chat to start a live video feed between you and other DanceSpace users. What are you waiting for? Go forth and collab!</h5><br/>
	<%= bootstrap_form_for @videochat do |f| %>
	  <div>
	    <%= f.text_field :title, placeholder: "Chatroom Name", hide_label: true %>
	  </div>
	  <div>
	    <%= f.submit 'Create New Video Chatroom!', class: "btn btn-lg btn-warning" %>
	  </div>
	<% end %>
</div>