<script>
  // Compatibility shim
  navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia;

  // PeerJS object
  var peer = new Peer({ key: 'adlet3c4x7gmn29', debug: 3 });
  
  peer.on('open', function(){
    $('#my-id').text(peer.id);
    <% if current_user == @videochat.user %>
      $.post('/set_host_peer_id', 
             {videochat_id: <%= @videochat.id %>, host_peer_id: peer.id, authenticity_token: AUTH_TOKEN}, 
             function(data) {});
    <% end %>
  });

  // Receiving a call
  peer.on('call', function(call){
    // Answer the call automatically (instead of prompting user) for demo purposes
    call.answer(window.localStream);
    step2(call);
  });

  peer.on('error', function(err){
    alert(err.message);
  });

  // Click handlers setup
  $(function(){
    $('#end-call').click(function(){
      window.existingCall.close();
      window.location = '/videochats'
    });

    // Retry if getUserMedia fails
    $('#step1-retry').click(function(){
      $('#step1-error').hide();
      step1();
    });

    // Get things started
    step1();
  });

  function step1 () {
    $('#step1-error').hide();
    // Get audio/video stream
    navigator.getUserMedia({audio: true, video: true}, function(stream){
      // Set your video displays
      $('#my-video').prop('src', URL.createObjectURL(stream));

      window.localStream = stream;
    }, function(){ $('#step1-error').show(); });
    $('#step2').hide();
  }

  function step2(call) {
    // Hang up on an existing call if present
    if (window.existingCall) {
      window.existingCall.close();
    } 

    // Wait for stream on the call, then set peer video display
    call.on('stream', function(stream){
      $('#their-video').prop('src', URL.createObjectURL(stream));
    });

    // UI stuff
    window.existingCall = call;
    $('#their-id').text(call.peer);
    call.on('close', step2);
    $('#step1').hide();
    $('#step2').show();
  }
</script>
<%= render "home/navbar" %>
<div class="spec container">
  <div class="pure-g">
    <h1>Chatroom: <b><%=@videochat.title%></b></h1>
    <!-- Get local audio/video stream -->
    <div id="step1">
      <div id="step1-error">
        <h4 style="color:red;"><b>Failed to access the webcam and microphone. Make sure to click allow when asked for permission by the browser.</b></h4>
        <a href="#" class="pure-button pure-button-error" id="step1-retry">Try again</a>
      </div>
    </div>

    <!-- Call in progress -->
    <div id="step2">
      <p><a href="#" class="btn btn-warning" id="end-call">End call</a></p>
    </div>

        <!-- Video area -->
        <div class="videochatwindows" id="video-container"><br/>
          <video id="their-video" autoplay></video>
          <video id="my-video" muted="true" autoplay></video>
        </div>

    </div>
</div>
