<% if user_signed_in? %>
  <h2>You!</h2>
  <p>You're signed in as <strong><%=current_user.email %></strong><br>Very clutch.</p>
  <a type="button" class="btn btn-default" href="<%= logout_path %>">Logout</a>
<% else %>
  <h2>Want to get down?</h2>
  <p>Create a profile to add your preferences.</p>
  <a type="button" class="btn btn-lg btn-primary" href="<%= signup_path %>">Sign up</a>
  <a type="button" class="btn btn-default" href="<%= login_path %>">Login</a>
<% end %>
