<%= render "home/navbar" %>
<div class="container spec display">
<h1><b>Video</b> <%= @video.title %>
<%= link_to 'Edit', edit_video_path(@video), class: "btn btn-warning" %> <small>[TODO: make this viewable only by owner]</small>

</h1>
			<p>
				<%= @video.youtube_url %>
</p>

</div>