<%= render "home/eventsfeed_title" %>
<div id="panel">
  <input id="events_feed_address" type="textbox" placeholder="Stanford, CA"/>
  <input type="submit" onclick="codeAddressAndUpdateEvents()" class="btn btn-default" value="Go to new address"/>
</div>
<br><br>
HEY WHATS UP
<div id="events_feed_error"></div>
<div id="all_events"></div>
<div id="events-feed-map-canvas"></div>
