<div id="panel">
  <input id="events_feed_address" type="textbox" placeholder="Stanford, CA"/>
  <input type="submit" onclick="codeAddressAndUpdateEvents()" value="Change Location!"/>
</div>
<div id="events_feed_error"></div>

<div id="events-feed-map-canvas"></div>
<div id="all_events"></div>
