	<div class="container">
		<div id="grid-gallery" class="grid-gallery">
			<section class="grid-wrap">
				<ul class="grid">
					<li class="grid-sizer"></li><!-- for Masonry column width -->
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/vlsgt8GlIto/0.jpg" alt="img01"/>
							<figcaption><h3>Tessellate</h3><p>Anthony Lee</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/L-CtufJpM84/0.jpg" alt="img02"/>
							<figcaption><h3>I Love It</h3><p>Kyle Hanagami </p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/vAx4SUnsmPM/0.jpg" alt="img03"/>
							<figcaption><h3>Lay Up Under Me</h3><p>Sorah Yang</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/5PpzOwO4MvU/0.jpg" alt="img01"/>
							<figcaption><h3>Stay (Remix)</h3><p>Anthony Lee</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/ZlJfdk742Pw/0.jpg" alt="img06"/>
							<figcaption><h3>Dancing in the Dark</h3><p>Matt Luck</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/W3YyUcU6lU0/0.jpg" alt="img04"/>
							<figcaption><h3>Lois Lane</h3><p>Keone Madrid</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/khvcCpoFszM/0.jpg" alt="img05"/>
							<figcaption><h3>Wicked Game</h3><p>Travis Wall</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/oCtiEX9v5q4/0.jpg" alt="img02"/>
							<figcaption><h3>Wish</h3><p>Jerome Esplana</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/eMHSZ5zPbj8/0.jpg" alt="img03"/>
							<figcaption><h3>Dark Horse</h3><p>Chris Clark</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/ay2efEKlvV8/0.jpg" alt="img04"/>
							<figcaption><h3>Booty Work</h3><p>Ellen Kim</p></figcaption>
						</figure>
					</li>
					<li>
						<figure>
							<img src="http://img.youtube.com/vi/1D_PUdnkSTE/0.jpg" alt="img05"/>
							<figcaption><h3>Addiction (Gravity)</h3><p>Mia Michaels</p></figcaption>
						</figure>
					</li>
				</ul>
			</section><!-- // grid-wrap -->
			<section class="slideshow">
				<ul>
					<li>
						<figure>
							<figcaption>
								<h3>Tessellate</h3>
								<p>Anthony Lee choreography featuring Chad Mayate, Charles Nguyen, Ian Eastwood, Lawrence Devera, and Mike Fal.<br/>Ellie Goulding cover of Alt-J's "Tessellate"</p>
							</figcaption>
						<iframe width="560" height="315" src="http://www.youtube.com/embed/vlsgt8GlIto" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>I Love It</h3>
								<p>Kyle Hanami's concept video for Icona Pop's "I Love It"<br/>This piece features Haley Fitzgerald, Charmaine Baquiran, Lori Mallini, and Whitney Bezzant.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/L-CtufJpM84" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Lay Up Under Me</h3>
								<p>Sorah Yang's choreography to Beyonce <br/>I got the amazing privilege of being able to teach in Korea this past month, and this video captures 1 of 3 classes I taught during my trip.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/vAx4SUnsmPM" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Stay (Branchez Remix)</h3>
								<p>Anthony Lee's piece for ORG Spring Camp 2013, Advanced Program.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/5PpzOwO4MvU" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Dancing in the Dark</h3>
								<p>Chambray Schlitz pug YOLO, PBR Tumblr semiotics. Flexitarian YOLO ennui Blue Bottle, forage dreamcatcher chillwave put a bird on it craft beer Etsy.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/ZlJfdk742Pw" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Lois Lane</h3>
								<p>Cosby sweater hella lomo Thundercats VHS occupy High Life. Synth pop-up readymade single-origin coffee, fanny pack tousled retro. Fingerstache mlkshk ugh hashtag, church-key ethnic street art pug yr.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/W3YyUcU6lU0" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Wicked Game</h3>
								<p>A piece by Travis Wall, Season One winner of So You Think You Can Dance</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/khvcCpoFszM" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Wish</h3>
								<p>Choreograph by Jerome Esplana</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/oCtiEX9v5q4" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Dark Horse</h3>
								<p>This is a random studio video that I found. It's 2:47am and I'm pretty darn tired now.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/eMHSZ5zPbj8" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Booty Work</h3>
								<p>A concept video by Ellen Kim filmed at Movement Lifestyle<br/>Guest starring ChaCha Gonzalez and some other chick</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/ay2efEKlvV8" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
					<li>
						<figure>
							<figcaption>
								<h3>Addiction (Gravity)</h3>
								<p>Mia Michael's routine to "Gravity" by Sara Barellis<br/>This piece was performed by Kupono and Kayla on Season 9 of So You Think You Can Dance.</p>
							</figcaption>
							<iframe width="560" height="315" src="http://www.youtube.com/embed/1D_PUdnkSTE" frameborder="0" allowfullscreen></iframe>
						</figure>
					</li>
				</ul>
				<nav>
					<span class="icon nav-prev"></span>
					<span class="icon nav-next"></span>
					<span class="icon nav-close"></span>
				</nav>
				<div class="info-keys icon">Navigate with arrow keys</div>
			</section><!-- // slideshow -->
		</div><!-- // grid-gallery -->
	</div>
		<script src="assets/imagesloaded.pkgd.min.js"></script>
		<script src="assets/masonry.pkgd.min.js"></script>
		<script src="assets/classie.js"></script>
		<script src="assets/cbpGridGallery.js"></script>
	<script type='text/javascript'>
		new CBPGridGallery( document.getElementById( 'grid-gallery' ) );
		console.log("sdkfjaksdfjlasdkfj");
	</script>
