<h2>Events Feed</h2>
    <p class="lead">Check out upcoming events.</p>
	 	<p><a type="button" class="btn btn-warning btn-lg" href="<%= root_path %>">See Events</a></p>
<h2>Studio Finder</h2>
    <p class="lead">Find a studio in your area.</p>
	 	<p><a type="button" class="btn btn-warning btn-lg" href="/studios_nearby">Find a Studio</a></p>
<h2>GetIt Button</h2>
    <p class="lead">Discover cool choreography.</p>
 	<p><a type="button" class="btn btn-lg btn-warning" href="<%= get_it_path %>">Roll the Dice</a></p>

