<%= render "home/navbar" %>

<div class="container">
    <div class="row" id="ourstory">
        <div class="col-md-12">
                <h1>Our Story</h1>
        DanceSpace is a project created Spring 2014 in CS 194W at Stanford University by Chang, Jake, Rupa, and Sarah. DanceSpace is a social media website where the dance community can share performance videos, promote themselves, and connect with others. Our target audience is made up of studio owners, choreographers, and dancers. We provide an online space for studios and choreographers to create video portfolios and list their event information. We provide a convenient means for dancers to discover new routines based on their preferences. Dancers, choreographers, and studios get their own profile page that lists their videos and preferred contact information so others can communicate with them directly to collaborate, one of our chief goals as a community site. Essentially, DanceSpace is an online community of dancers who collaborate with, teach, and inspire each other.

        </div>
    </div>
    <div class="row" id="sellpoints">
        <div class="col-md-4"><h2>Discover</h2>
            <p><span class="lead">Find great content.</span></p>
            <p>
            Ways to discover:
            <ul class=>
                <li>Find upcoming events.</li>
                <li>Check out studios near you.</li>
                <li>View popular videos.</li>
            </ul>
            </p>
        </div>
        <div class="col-md-4"><h2>Connect</h2>
            <p><span class="lead">Go straight to the source.</span></p>
            <p>Ways to connect:
                <ul>
                    <li>Build your profile. Add tags, location, and more.</li>
                    <li>Search for dancers, choreographers, and studios.</li>
                    <li>Quickly find a random dancer in our library.</li>
                </ul>
            </p>
        </div>
        <div class="col-md-4"><h2>Show off</h2>
            <p><span class="lead">Have it all in one simple place.</span></p>
            <p>Ways to show off:
                <ul>
                    <li>Share a video portfolio.</li>
                    <li>Create a page for your studio.</li>
                    <li>Post events you're hosting.</li>
                </ul>    
            </p>
        </div>
        </div>
    <div class="row" id="ourteam">
        <div class="col-md-3"><h3>Changwhan Yea</h3>
            <p>
            Changwhan is a senior at Stanford majoring in Computer Science. He is interested in data mining, information retrieval, and natural language processing and successfully completed research on Stack Overflow graph data in CS224W. Being heavily involved in startups while at Stanford, he will be joining Tumblbug, a crowdfunding startup for artists and creators, after graduating this June.
            </p>
        </div>
        <div class="col-md-3"><h3>Jake Ayala</h3>
            <p>
                Jake is an Electrical Engineering major at Stanford, class of 2014. He enjoys clean design, the color red, and nice pens. His work has included internships at Motorola and GE Healthcare working on front-end and back-end, but he has a preference for front-end development. After graduation, he plans to visit his dad in Cabo, Mexico and then work as a Software Developer with GoDaddy.com in Sunnyvale, CA.
            </p>
        </div>
        <div class="col-md-3"><h3>Rupa Shankar</h3><p>Rupa is a senior Computer Science major focusing in Information. She is an experienced backend and budding full-stack developer whose previous work includes internships in research and industry as well as a stint working on her own projects at Hacker School. This summer, she will be interning at Scribd in San Francisco before returning to Stanford for her final quarter. </p></div>
        <div class="col-md-3"><h3>Sarah Nader</h3><p>Sarah is currently a junior majoring in Computer Science with a focus in Human-Computer Interaction. She loves design in any shape or form but specializes in UI/UX design. Inspired by the desire to travel the world, she spent last summer in Kyoto, Japan developing sound pattern recognition algorithms. This summer, she will intern as a PM for the Operating Systems division of Microsoft.</p></div>
    </div>

        </div> 