<div class="ds-docs-header" id="content">
  <div class="container headercopy">
    <h1>DanceSpace</h1>
    <p>Uniting all lovers of dance through ethical tattooed master cleanse raw denim.</p>
  </div>
</div>

<div class="container spec">
	<div class="row">
    	<div class="col-md-4"><h2>Discover</h2>
    		<p><span class="lead">Discover great choreography from indie dancers and established studios.</span></p><p>Blue Bottle pour-over gluten-free post-ironic, craft beer hashtag meggings try-hard blog typewriter sartorial vinyl. Wolf butcher photo booth Brooklyn. Food truck semiotics lomo VHS try-hard you probably haven't heard of them disrupt, bespoke flexitarian stumptown. Aesthetic Tonx selvage Schlitz fashion axe, put a bird on it Neutra sriracha vegan organic food truck Brooklyn polaroid stumptown. Tote bag pug locavore Brooklyn PBR&amp;B viral. Plaid lomo kogi Tumblr food truck readymade. Tote bag fanny pack authentic leggings, post-ironic ethical gastropub shabby chic.<strong>INSERT LINKS TO SIGN UP</strong></p></div>
        <div class="col-md-4"><h2>Connect</h2>
        	<p><span class="lead">Go straight to the source. Have it all in one simple place.</span></p>
        	<p>Studios: have all your contact info--Instagram, Twitter, YouTube, email, studio website--in one place. No more shouting it out at the end of your videos. It's all in one place</p>
        	<p>Letterpress shabby chic food truck, +1 ethnic single-origin coffee Austin Pitchfork sustainable photo booth fanny pack Thundercats farm-to-table slow-carb. DIY Tonx Pinterest, readymade beard forage sustainable street art Godard Williamsburg. Mustache keffiyeh stumptown hashtag flannel tousled next level, blog dreamcatcher Truffaut XOXO fashion axe wolf ethical.<strong>INSERT LINKS TO COOL STUDIOS/STUDIOS NEAR ME</strong></p></div>
        <div class="col-md-4"><p><h2>Thundercats</h2>
        	<p><span class="lead">Sriracha paleo photo booth master cleanse flexitarian.</span></p><p>Slow-carb kitsch DIY, raw denim skateboard locavore tousled craft beer Shoreditch sriracha banjo. Forage vinyl cray, PBR&amp;B PBR biodiesel authentic lo-fi VHS asymmetrical. <strong>FIGURE THIS ONE OUT</strong>Actually meggings lo-fi normcore, biodiesel bitters ennui fingerstache Helvetica locavore farm-to-table Godard dreamcatcher sustainable. Vice 90's vegan, master cleanse umami wayfarers flannel VHS normcore. Swag gastropub drinking vinegar, sartorial distillery skateboard keytar tattooed keffiyeh Intelligentsia. Dreamcatcher Williamsburg ethical, direct trade Tonx trust fund mumblecore tofu slow-carb letterpress wolf roof party.</p></div>
    </div>
</div>