<div class="ds-docs-header" id="content">
  <div class="container headercopy">
    <h1>DanceSpace</h1>
    <p>Uniting all lovers of dance through ethical tattooed master cleanse raw denim.</p>
    <p style="margin-top:10px;">
    <a type="button" class="btn btn-warning btn-lg" href="<%= signup_path %>">Sign up</a>
    <a type="button" class="btn btn-default btn-lg" href="<%= login_path %>">Login</a>
    </p>
  </div>
</div>

<div class="container spec">
	<div class="row">
    	<div class="col-md-4"><h2>Discover</h2>
    		<p><span class="lead">Discover great choreography from indie dancers and established studios.</span></p>
            <p>
            Ways to discover:
            <ul class=>
                <li>Enter preferences</li>
                <li>Check out hot performers (lots of likes)</li>
            </ul>
            </p>
        </div>
        <div class="col-md-4"><h2>Connect</h2>
        	<p><span class="lead">Go straight to the source. Have it all in one simple place.</span></p>
        	<p>Ways to connect:
                <ol>
                    <li>Build your profile</li>
                    <li>Check out studios near you</li>            
                </ol>
            </p>
            <p>
            What about me!?
                <ul>
                    <li>Studios: have all your contact info--Instagram, Twitter, YouTube, email, studio website--in one place. No more shouting it out at the end of your videos. It's all in one place</li> 
                    <li>Choreographers: shabby chic food truck, +1 ethnic single-origin coffee Austin Pitchfork sustainable photo</li> 
                    <li>Dancers: DIY Tonx Pinterest, readymade beard forage sustainable street art</li>     
                </ul>    
            </p>
        </div>
        <div class="col-md-4"><p><h2>TBD</h2>
        	<p><span class="lead">ALL CONTENT TO BE DECIDED.</span></p>
            <p>Slow-carb kitsch DIY, raw denim skateboard locavore tousled craft beer Shoreditch sriracha banjo. Forage vinyl cray, PBR&amp;B PBR biodiesel authentic lo-fi VHS asymmetrical. <strong>FIGURE THIS ONE OUT</strong>Actually meggings lo-fi normcore, biodiesel bitters ennui fingerstache Helvetica locavore farm-to-table Godard dreamcatcher sustainable.</p></div>
    </div>
</div>