<%= render "home/navbar" %>

<!-- Side bar for browse / home -->
<div class="container spec">
    <div id="sidebar" class="col-md-3">
	<h1>Home</h1> <!-- TODO make this a dynamic link based on page. -->
	<h2>Browse</h2>
	<p class="lead">Discover new music</p>
	<% if user_signed_in? %>
		<p><a type="button" class="btn btn-sm btn-warning disabled" href="<%= root_path %>">Enter your preferences! <small>(coming soon)</small></a></p>
		<h2>Share</h2>
		<p class="lead">Show us your moves
	    <p><a type="button" class="btn btn-warning" href="<%= new_video_path %>">Share a Video</a></p>
    <% end %>

	<%= render "users/shared/userinfo" %>
	</div>

<!-- Page Content -->
	<div id="content" class="col-md-8">
	<p style="padding: 100px 50px 50px 100px;"><h1>"This is where my content would go...<br/>if I had some!"</h1><h2><i>&mdash;Source unknown</i></h2></p>
  	</div>
</div>
