html{
  height: 100%;
}
body {
  min-height: 100%;
}

.footer {
	background: #eee;
	color: #aaa;
	padding-top: 10px;
	padding-bottom:10px;
}

.center {
  text-align: center;
}

a.spec:link	{ color: #f0ad4e; text-decoration: none; }

a.spec:visited	{ color: #f0ad4e; text-decoration: none; }

a.spec:active	{ color: #732C7C; text-decoration: none; }

a.spec:hover	{ color: #732C7C; text-decoration: underline; }
