#set-location-map-canvas, #set-studio-location-map {
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}

#get_studio_id, #get_event_id, #event_is_location_set, #studio_is_location_set {
    display: none; 
}

#show-event-map-canvas, #events-feed-map-canvas, #studios-feed-map-canvas, #show-studio-map-canvas {
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}

#show-studio-streetview-canvas {
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto; 
}