#set-location-map-canvas, #set-studio-location-map {
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}

#get_studio_id, #event_lat, #event_lng, #studio_lat, #studio_lng {
 //   display: none; 
}

#show-event-map-canvas, #events-feed-map-canvas, #studios-feed-map-canvas, #show-studio-map-canvas {
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}