#set-location-map-canvas {
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}

#event_lat, #event_lng {
    display: none; 
}

#show-event-map-canvas {
    height: 500px;
    width: 75%;
    margin-left: auto;
    margin-right: auto; 
}