.profile-container{
	margin:0px;
	padding:0px;
}

.profile-container.col-med-4{
	margin-right:0px;
	padding-right:0px;
}

.profile-container h1{
	margin-top: 0px;
	padding-top: 0px;
}


.propic img{
	max-width: 100%;
	max-height: 250px;
	border: solid 1px #EDEDED;
}

.main-info{
	display: inline;
	vertical-align: top;
}
.main-info h1{
	display: inline;
}
.main-info h5{
	display:inline;
}

.social-media{
	display: inline-block;
	vertical-align: top;
	text-align: right;
	width: 35%;
}

.social-media img{
	width: 45px;
	height: 45px;
	margin: 5px;
}

.social-media a:hover{
	opacity: .75;
	text-decoration: none;
}

.blurb{
	margin-top: 5px;
	max-width: 100%;
}

.vid-thumbnail img{
	max-height: 150px;
	max-width: 100%;
}

.reminder{
	color: #BABABA;
	font-style: italic;
}

#show-studio-map-canvas{
	position: relative;
	left: 0px;