#their-video {
  background-color: #EEEEEE;
  height: 75%;
  max-height: 480px;
  width: 100%;
}

#my-video {
  background-color: #EEEEFF;
  height: auto;
  margin-top: 15px;
  width: 180px;
  position:absolute;
  bottom:6px;
  right:0px;
}

.videochatwindows{
	position:relative;
}

.vidchatindex h4{
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.vidchatindex h5{
  padding-top: 0px;
  margin-top:0px;
}