<% studios.each do |s| %>
  <h3><a href=<%= studio_path(s) %> data-no-turbolink="true"><%= s.name %></a></h3>
  <div>Description: <%= s.description %></div>
  <div>Location: <%= s.get_address %></div>
<% end %>
