	<% Studio.find_each do |s| %>
	  <a href=<%= studio_path(s) %>><%= s.name %></a>
	  <div>Description: <%= s.description %></div>
	  <div>Location: TODO WE NEED A LOCATION FOR STUDIOS</div>
	<% end %>